<%- include('partials/header'); %>

  <div class="box" id="heading">
    <form action="/recipes" method="get">
      <div class="itemName">
        <h1 class="pantry"> Pantry </h1>
        <button class="recipeBtn" type="submit"><i class="fa-solid fa-burger"></i></button>
      </div>
    </form>
  </div>
  
  <div class="box">
    
    <% itemsArray.forEach(function(item) { %>

      <div class="item">
        <p><%=  item.name  %></p>
      </div>
    
    <% }) %>

  </div>

<%- include('partials/footer'); %>